{% extends "char_sheet/header.html" %}

{% block content %}
<div class="container-fluid main-content">
    <div class="row">
        <div class="col-sm-12">
            <h1>spellcards</h1>
            <div class="card">
                <div class="front">
                    <div class="field-container">
                        <div class="name-field">
                            <span>Peony blossom attack</span>
                        </div>
                        <div class="tree-field">
                
                        </div>
                        <div class="type-field">
                
                        </div>
                        <div class="cost-field">
                
                        </div>
                        <div class="duration-field">
                
                        </div>
                        <p class="description-header">Description</p>
                        <div class="description-field">
                
                        </div>
                    </div>
                </div>
                <div class="back">
                    <div class="background">
            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}